<div>
  <div
    class="dropdown-menu-bridge fixed left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 lg:w-[1290px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <div
    id="explore-mega-menu"
    class="dropdown-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 lg:w-[1290px] w-full bg-white dark:bg-background-6 z-50 rounded-[20px] pt-3 pb-6 px-6 border border-stroke-1/50 dark:border-background-7"
  >
    <div class="grid grid-cols-12 gap-x-6 gap-y-6">
      <div class="col-span-3">
        <div class="flex flex-col h-full">
          <p class="p-3 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60">
            Features
          </p>
          <ul class="my-8">
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">DQF Management</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">Background Checks</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">Risk Scoring</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">Hiring Workflow</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-3">
        <div class="flex flex-col h-full">
          <p class="p-3 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60">
            Compliance
          </p>
          <ul class="my-8">
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">DOT Compliance</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">FMCSA Requirements</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">Audit Preparation</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">DQF Versioning</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-3">
        <div class="flex flex-col h-full">
          <p class="p-3 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60">
            By Role
          </p>
          <ul class="my-8">
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">For Carriers</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">For Fleet Managers</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">For Staffing Agencies</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-3">
        <div class="flex flex-col h-full">
          <p class="p-3 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60">
            Quick Links
          </p>
          <ul class="my-8">
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">Pricing</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">Documentation</span>
              </a>
            </li>
            <li>
              <a href="#" class="relative block group p-3">
                <Component src="src/components/shared/hover-bg-transform.htm" />
                <span class="text-tagline-1 font-normal text-secondary dark:text-accent relative z-10">Integrations</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
