<!-- =========================
Header
===========================-->
<header>
  <div
    class="header-one lp:!max-w-[1290px] bg-background-2 dark:bg-background-6 fixed top-5 left-1/2 z-50 mx-auto flex w-full max-w-[350px] -translate-x-1/2 items-center justify-between rounded-full px-2.5 py-2.5 opacity-0 backdrop-blur-[25px] min-[425px]:max-w-[375px] min-[500px]:max-w-[450px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xl:py-0"
    data-ns-animate
    data-direction="up"
    data-offset="100"
  >
    <div>
      <a href="./index.html">
        <span class="sr-only">Home</span>
        <figure>
          <img src="./images/logo/pdqf-logo-white.webp" alt="Prime DQ Files" class="h-9 w-auto" />
        </figure>
      </a>
    </div>
    <nav class="hidden items-center xl:flex">
      <ul class="flex items-center">
        <li class="nav-item relative cursor-pointer py-2.5">
          <a
            href="./features.html"
            class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-1 text-secondary/60 hover:text-secondary dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            Features
          </a>
        </li>
        <li class="nav-item relative cursor-pointer py-2.5">
          <a
            href="./compliance.html"
            class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-1 text-secondary/60 hover:text-secondary dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            Compliance
          </a>
        </li>
        <li class="nav-item relative cursor-pointer py-2.5">
          <a
            href="./about.html"
            class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-1 text-secondary/60 hover:text-secondary dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            About
          </a>
        </li>
        <li class="nav-item relative cursor-pointer py-2.5">
          <a
            href="./contact.html"
            class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-1 text-secondary/60 hover:text-secondary dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 rounded-full border border-transparent px-4 py-2 font-normal transition-all duration-200"
          >
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

    <div class="hidden items-center justify-center xl:flex">
      <a
        href="./get-started.html"
        class="btn btn-md btn-primary hover:btn-white-dark dark:hover:btn-white"
      >
        <span>Get started</span>
      </a>
    </div>
    <div class="block xl:hidden">
      <button
        class="nav-hamburger bg-background-4 dark:bg-background-6 flex size-12 cursor-pointer flex-col items-center justify-center gap-[5px] rounded-full"
      >
        <span class="sr-only">Menu</span>
        <span class="bg-stroke-9 dark:bg-stroke-1 block h-0.5 w-6"></span>
        <span class="bg-stroke-9 dark:bg-stroke-1 block h-0.5 w-6"></span>
        <span class="bg-stroke-9 dark:bg-stroke-1 block h-0.5 w-6"></span>
      </button>
    </div>
  </div>
  <Component src="src/components/pages/dqf/mobile-menu.htm" />
</header>
